.page__title {
  width: 600px;
  height: 100px;
  text-align: center;
  background-color: aquamarine;
  font-size: 5rem;
  margin: 0 auto;
  position: relative;
  top: 250px;
}

.title--yes {
  background-color: green;
}

.title--no {
  background-color: red;
}